<!DOCTYPE HTML>

<html>
    <head>
        <title>YelpCamp</title>
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){%>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">SignUp</a></li>
            <% } else{%>
            <li><a href="/campgrounds"><%= currentUser.username.toUpperCase()%></a></li>
            <li><a href="/logout">Logout</a></li>
            <% }%>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <%if(oopss && oopss.length >0){%>
    <div class="alert alert-danger" role="alert"><%=oopss%></div>
    <% } else if(success && success.length > 0){%>
    <div class="alert alert-success" role="alert"><%=success%></div>
    <% } else {}%>
    </div>
        
    