<% include partials/header%>

<form class="ui form" action = "/login" method = "POST">
    <div class="container">
      <header class = "jumbotron">
        <h1><i class="tree icon"></i>YelpCamp Login</h1>
        </header>
      <div class="field">
        <label>User Name</label>
        <input type="text" name="username" placeholder="username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
      </div>
      <p></p><a href = "/signup" id = "slink">Sign Up Now!</a>
      <p></p>
      <button class="ui button default blue" type="submit">Login</button>
  </div>
</form>

<% include partials/footer%>