<% include partials/header%>
<div class = "container">
<h3>Pabbu1990:</h3>
<button type="button" class="btn btn-info">?</button>
<button type="button" class="btn btn-info">0</button>
<button type="button" class="btn btn-info">1</button>
<button type="button" class="btn btn-info">3</button>
<button type="button" class="btn btn-info">5</button>
<button type="button" class="btn btn-info">8</button>
<button type="button" class="btn btn-info">13</button>
<button type="button" class="btn btn-info">20</button>
</div>
<% include partials/footer%>